.container {
    display: flex; /* makes container a flexbox */
    flex-flow: row wrap; /* layout the rows and wraps them */
    box-sizing: border-box; 
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.box {
    flex: 1; /* make contents controllable with flexbox */
    display: flex;
    flex-flow: column;
    max-width: 200px;
    margin: 10px;
    padding: 20px;
    background-color: #000;
}
